*, *::after, *::before {
box-sizing: border-box;
}

:root {
    --slider-padding: 5rem;
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content:center;
}

.slider {
    display: flex;
   flex-grow: 1;
    transform: translateX(-00%);
}

.slider > img {
    flex: 0 0 25%;
    max-width: 25%;
    aspect-ratio: 16 / 9;
    padding: .25rem;
    border-radius: 7px;
}

.handle {
    border: none;
    flex-grow: 0;
    width: 50rem;
    background-color: rgb(108, 108, 108);
    z-index: 10;
    margin: .25rem 0;
    cursor: pointer;
    border-radius: 3px;
    font-size: 30px;
    color: aliceblue;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover {
    background-color: rgb(74, 74, 86);
    font-size: 35px;
}

.left-handle:hover::after {
content: \2039;
}

.right-handle:hover::after {
    content: \203B;
}

