@media (min-width: 439px) and (max-width: 767px) {

    h1 {
        font-size: 25px;
    }

    .formular {
        width: 60%;
    }

    label {
        font-size: 16px;
    }

    input {
        margin: 0 25px 10px 40px;
        width: 80%;
        height: 25px;
    }

    button {
        margin-right: 30px;
        margin-top: 15px;
        width: 90px;
        height: 25px;
        font-size: 12px;
    }

    footer {
        height: 100px;
        padding: 10px 10px 0 0;
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    h1 {
        font-size: 26px;
    }

    .formular {
        width: 50vw;
    }

    label {
        font-size: 16px;
    }

    input {
        margin: 0 25px 10px 40px;
        height: 28px;
    }

    button {
        margin-right: 30px;
        width: 100px;
        height: 28px;
        font-size: 14px;
    }
}


@media (min-width: 1024px) and (max-width: 1439px) {

    h1 {
        font-size: 24px;
    }

    .wrapper {
        width: 70vw;
    }

    .formular {
        width: 60%;
    }

    label {
        font-size: 16px;
    }

    input {
        margin: 0 25px 10px 40px;
        height: 30px;
    }

    button {
        margin-right: 40px;
        width: 100px;
        height: 30px;
        font-size: 13px;
    }

}

@media (min-width: 1440px) and (max-width: 2559px) {

    h1 {
        font-size: 24px;
    }

    .formular {
        width: 35%;
        height: 350px;
    }

    label {
        font-size: 16px;  
        margin-left: 50px;
    }

    input {
        margin: 0 25px 20px 45px;
        height: 30px;
    }

    button {
        margin-right: 45px;
        width: 90px;
        height: 30px;
        font-size: 14px;
    }
}

@media (min-width: 2560px) {

    h1 {
        font-size: 24px;
    }

    .formular {
        width: 40%;
        height: 370px;
    }

    label {
        font-size: 20px;
        margin-left: 80px;
    }

    input {
        height: 40px;
    }

    button {
        margin-right: 50px;
        width: 100px;
        height: 40px;
        font-size: 14px;
    }
}