* {
    font-family: Josefin Sans; 
    letter-spacing: 0.5px;
    color: rgb(53, 73, 92);
    flex-direction: row; 
    justify-content: center;
    text-align: left;
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(241, 241, 238);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

nav th{
    width: 200px;
}

a {
    font-size: 18px;
    color: rgb(53, 73, 92);
    text-decoration: none;
}

a:hover {
    color: darkseagreen;
}

.container {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

footer p {
    text-align: right;
    margin-right: 30px;
    font-size: 13px;
}

.fa-suse {
    font-size: 110px;
    color: rgb(9, 158, 9);
}

.fa-bugs {
    font-size: 30px;
    color: rgb(241, 88, 88);

}

.fa-suse:hover {
 animation: moveing;
 animation-duration: 15s;
 animation-iteration-count: 5;
}

@keyframes moveing {
    50% {transform: translate(500px,20px);}
}
