* {
    font-family: Josefin Sans; 
    letter-spacing: 0.5px;
    color: rgb(53, 73, 92);
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(241, 241, 238);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

nav th{
    width: 200px;
}

nav a {
    font-size: 18px;
    color: rgb(53, 73, 92);
    text-decoration: none;
}

.container {
    background-image: url('1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

input,
textarea {
    width: 500px;
    margin: 10px 20px 10px 50px;
    background-color: rgb(215, 224, 235);
    border: 2px solid rgb(226, 230, 233);
    color: rgb(53, 73, 92);
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;  
    padding: 10px;
}

textarea {
    resize: vertical;
    padding: 10px;
    color: rgb(53, 73, 92);
    font-size: 17px;
}

input {
    height: 15px;
    color: rgb(53, 73, 92);
}

button[type="submit"] {
    background-color:  rgb(53, 73, 92);
    color: rgb(215, 224, 235);
    width: 520px;
    border: 2px solid;
    font-size: 20px;
    margin: 20px 20px 10px 50px;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
    text-align: center;
    letter-spacing: 1.5px;
}

a {
    font-size: 18px;
    color: rgb(53, 73, 92);
    text-decoration: none;
}

a:hover {
    color: darkseagreen;
}

button:hover {
    color: darkseagreen;
}

::placeholder { 
    color: rgb(157, 169, 179);
    font-style: italic;
    font-size: 16px;
}

#status {
    width: 100%;
    max-width: 495px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px; 
}

#status.success {
    background-color: rgb(61, 117, 93);
    color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 5px;
    animation-name: status;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
}

#status.error {
    background-color: rgb(225, 141, 179);
    color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 5px;
    animation-name: status;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
}

@keyframes status {
   0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
   100% {
        opacity: 0;
        pointer-events: none;
    }
}

footer p {
    text-align: right;
    margin-right: 30px;
    font-size: 13px;
}
