* {
    font-family: Josefin Sans;
    letter-spacing: 0.5px;
    color: rgb(53, 73, 92);
    box-sizing: border-box;
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(241, 241, 238);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

nav th {
    width: 200px;
    text-align: center;
}

nav a {
    font-size: 18px;
    color: rgb(53, 73, 92);
    text-decoration: none;
}


a {
    font-size: 18px;
    color: rgb(53, 73, 92);
    text-decoration: none;
}

a:hover {
    color: darkseagreen;
    font-size: 20px;
}

footer p {
    text-align: right;
    margin-right: 30px;
    font-size: 13px;
}

.container {
    margin: 0 auto;
    background-image: url('/Images/contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 70vw;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.342);
    padding-top: 10px;
    width: 60vw;
    height: 70vh;
}

.form p {
    margin-left: 45px;
    padding-left: 25px;
    font-size: 18px;
    color: white;
    width: 50vw;
}

input,
textarea {
    width: 40vw;
    margin: 10px 50px;
    background-color: rgb(215, 224, 235);
    border: 2px solid rgb(226, 230, 233);
    color: rgb(53, 73, 92);
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}

textarea {
    resize: vertical;
    padding: 10px;
    color: rgb(53, 73, 92);
    font-size: 17px;
}

input {
    height: 35px;
    color: rgb(53, 73, 92);
}

button[type="submit"] {
    background-color: rgb(53, 73, 92);
    color: rgb(215, 224, 235);
    width: 40vw;
    border: 2px solid;
    font-size: 20px;
    margin: 10px 50px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1.5px;
}

button:hover {
    color: darkseagreen;
}

::placeholder {
    color: rgb(157, 169, 179);
    font-weight: lighter;
    font-size: 16px;
}

#status {
    width: 100%;
    max-width: 495px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px;
}

#status.success {
    background-color: rgb(61, 117, 93);
    color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 5px;
    animation-name: status;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#status.error {
    background-color: rgb(225, 141, 179);
    color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 5px;
    animation-name: status;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    90% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {

    .form {
        width: 45vw;
    }

    .form p {
        width: 35vw;
    }

    input,
    textarea {
        width: 35vw;
    }

    button[type="submit"] {
        width: 35vw;
    }
}

@media (min-width: 1024px) and (max-width: 1500px) {

    .container {
        width: 40vw;
    }

    .form {
        width: 35vw;
    }

    .form p {
        width: 25vw;
    }

    input,
    textarea {
        width: 22vw;
    }

    button[type="submit"] {
        width: 22vw;
    }
}

@media (min-width: 1501px) and (max-width: 2500px) {
    .container {
        width: 30vw;
    }

    .form {
        width: 25vw;
    }

    .form p {
        width: 18vw;
    }

    input,
    textarea {
        width: 18vw;
    }

    button[type="submit"] {
        width: 18vw;
    }
}


@media (min-width: 2501px) {
    .container {
        width:28vw;
    }

    .form {
        width: 20vw;
    }

    .form p {
        width: 15vw;
    }

    input,
    textarea {
        width: 15vw;
    }

    button[type="submit"] {
        width: 15vw;
    }
}