*{
    font-family:Josefin Sans; 
   
}
nav {
    background-color: rgb(241, 241, 238);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.form-container {
    background-image:url('https://unsplash.it/g/100');
    background-repeat: no-repeat, repeat;
    background-size: cover; 
    height: 1000px;
    width: auto;
    min-width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column; 
}

input,
textarea {
    width: 600px;
    margin: 20px 20px 10px 50px;
    background-color: rgb(215, 224, 235);
    border: 2px solid rgb(226, 230, 233);
    color: rgb(53, 73, 92);
    font-size: 16px;
    border-radius: 5px;  
    padding: 10px;
  
}

textarea {
    resize: vertical;
    padding: 10px;
    color: rgb(53, 73, 92);
    font-size: 16px;
}

input {
    height: 15px;
    color: rgb(53, 73, 92);
}

button[type="submit"] {
    background-color:  rgb(53, 73, 92);
    color: rgb(215, 224, 235);
    width: 625px;
    border: 2px solid;
    font-size: 18px;
    margin: 20px 20px 10px 50px;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
}



a {
    font-size: 18px;
    color: rgb(53, 73, 92);
    text-decoration: none;
}

a:hover {
    color: darkseagreen;
}

button:hover {
    color: darkseagreen;
}

::placeholder { 
    color: rgb(157, 169, 179);
    font-style: italic;
}

#status {
    width: 100%;
    max-width: 625px;
    border: 2px solid;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

#status.success {
background-color: cadetblue;
}

#status.error {
    background-color: rgb(236, 157, 194);
}


