* {
    font-family: Josefin Sans; 
    letter-spacing: 0.5px;
    color: rgb(53, 73, 92);
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(241, 241, 238);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

nav th{
    width: 200px;
}

nav a {
    font-size: 18px;
    color: rgb(53, 73, 92);
    text-decoration: none;
}

th, td {
    padding: 1px 2px 1px 2px;
}

a {
    text-decoration: none;
}

a:hover {
    color: darkseagreen;
}

h1 {
    background-color: rgb(241, 241, 238);
    color: black;
    width: 350px;
    font-size: 28px;
    height: 40px;
    text-align: end;
    padding-top: 50px;
    border-radius: 5px;
}

.container {
    width: 100%;
    flex-direction: row; 
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

table {
margin: 50px;

}
footer {
    text-align: right;
    margin-right: 30px;
    font-size: 13px;
}

img {
    width: 200px;
    border-radius: 10px;
}

footer {
    text-align: right;
    margin-right: 30px;
    font-size: 13px;
}

