* {
    font-family: Josefin Sans; 
    color: rgb(53, 73, 92);
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(241, 241, 238);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

nav th{
    width: 200px;
 
}

h1 {
    background-color: rgb(241, 241, 238);
    color: black;
    width:400px;
}
.container {
    width: 100%;
    flex-direction: row; 
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

table {
margin: 50px;

}
footer {
    text-align: right;
    margin-right: 30px;
    font-size: 13px;
}

footer a {
font-size: 13px;
}


background-image {
    
}

#filmintroduktion {
background-image: url('/1.jpg');
border-radius: 10px;
color: rgb(4, 43, 77);
background-size: cover;
height:150px;
text-align: right;
font-size: 20px;
}

img {
    width: 200px;
    border-radius: 10px;
}

footer {
    text-align: right;
    margin-right: 30px;
    font-size: 13px;
}

footer a {
font-size: 13px;
}