* {
    font-family: Josefin Sans; 
    color: rgb(53, 73, 92);
    flex-direction: row; 
    justify-content: center;
    text-align: left;
}

nav {
    width: 100%;
    height: 80px;
    background-color: rgb(241, 241, 238);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

nav th{
    width: 200px;
    text-align: center;
}

.container {
    width: 800px;

}
table td, th{
    padding: 10px;
}

th {
    width: 500px;
    height: 40px;
    font-size: 18px;
}
td {
    height: 50px;
    font-size: 16px;
}

footer {
    text-align: right;
    margin-right: 30px;
    font-size: 13px;
}

footer a {
font-size: 13px;
}

p {
   font-size: 16px;
   padding: 5px; 
   font-weight: 350;
}

img {
    float: left;
    margin: 40PX;
    border-radius: 80px;
}

h3 {
    padding: 6px;
    width: 100%;
    background-color: rgb(63, 76, 85);
    color: white;
    font-size: 16px;
}

a {
    font-size: 18px;
    color: rgb(53, 73, 92);
}

a:hover {
    color: darkseagreen;
}

.intouch {
    background-color: rgb(240, 219, 219);
}

.flexbox-container {
    width: auto;
    height: 100%;
    display: flex;
    margin:10px 20px 10px 20px;
}

i {
    font-size: 30px;
}

i:hover {
    color: darkseagreen;
}

@keyframes moveing {
    50% {transform: translate(100px,20px);}
}
