* {
    font-family: Josefin Sans; 
    letter-spacing: 0.5px;
    color: rgb(53, 73, 92);
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(241, 241, 238);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

nav th{
    width: 200px;
}

nav a {
    font-size: 18px;
    color: rgb(53, 73, 92);
    text-decoration: none;
}

#Lienchu {
    margin: 25px 0 30px 0;
    padding-left: 20px ;
}

#knowledge {
    margin: 25px 0 30px 0;
    padding-left: 20px ;
}

nav th{
    width: 200px;
    text-align: center;
}

.flexbox-container {
    width: auto;
    height: 100%;
    display: flex;
   justify-content: center;
}

.container {
    text-align: left;
    width: 600px;
}

table{
    padding-left: 20px;
}

th {
    height: 30px;
    width: 450px;
    font-size: 18px;
}

td {
    font-size: 16px;
    color: rgb(112, 112, 137);
}

img {
    margin: 30PX;
    border-radius: 30px;
}

h3 {
    padding: 6px;
    width: 100%;
    background-color: rgb(63, 76, 85);
    color: white;
    font-size: 16px;
    border-radius: 3px;
}

a {
    font-size: 18px;
    color: rgb(53, 73, 92);
    text-decoration: none;
}

a:hover {
    color: darkseagreen;
}

.intouch {
    background-color: rgb(240, 219, 219);
}

i { font-size: 30px;}

i:hover {
    color: darkseagreen;
}

footer p{
    text-align: right;
    margin-right: 30px;
    font-size: 13px;
    font-weight: lighter;
}