* {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
}

.wrapper {
    width: 90vw;
    height: 80vh;
}

.topdiv {
    margin-top: 150px;
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.box-top {
    width: 28vw;
    height: 12vh;
    border: 3px solid white;
}

.box-mitten {
    width: 20vw;
    height: 8vh;
    border: 3px solid white;
}

.cirkel {
    width: 20vw;
    height: 8vh;
    border: 3px solid white;
}

.top-div-vänster {
    background-image: linear-gradient(to right, rgb(118, 147, 132), rgb(33, 33, 33), rgb(82, 151, 137));
    animation: color-change-vänster 12s ease-in-out forwards infinite;
}

@keyframes color-change-vänster {
    0% {
        background-image: linear-gradient(to right, rgb(118, 147, 132) rgb(33, 33, 33), rgb(29, 53, 48));
    }

    50% {
        background-image: linear-gradient(to right, rgb(31, 61, 55), rgb(118, 147, 132), rgb(33, 33, 33));
    }

    100% {
        background-image: linear-gradient(to right, rgb(33, 33, 33), rgb(24, 46, 42), rgb(118, 147, 132));
    }
}

.top-div-mitten {
    background-image: radial-gradient(rgb(33, 33, 33), rgb(82, 151, 137), rgb(118, 147, 132));
    animation: color-change-mitten 12s ease-in-out forwards infinite;
}

@keyframes color-change-mitten {
    0% {
        background-image: radial-gradient(rgb(71, 114, 97) rgb(40, 61, 57), rgb(33, 33, 33), );
    }

    50% {
        background-image: radial-gradient(rgb(33, 33, 33), rgb(27, 81, 44), rgb(71, 81, 79));
    }

    100% {
        background-image: radial-gradient(rgb(6, 12, 11), rgb(74, 120, 100), rgb(42, 85, 58));
    }
}

.top-div-höger {
    background-image: repeating-linear-gradient(rgb(6, 12, 11), rgb(74, 120, 100), rgb(42, 85, 58));
    animation: color-change-höger 10s ease-in-out forwards infinite;
}

@keyframes color-change-höger {
    0% {
        background-image: repeating-linear-gradient(rgb(121, 154, 125), rgb(13, 115, 98), rgb(121, 154, 125));
    }

    50% {
        background-image: repeating-linear-gradient(rgb(121, 154, 125), rgb(74, 120, 100), rgb(13, 115, 98));
    }

    100% {
        background-image: repeating-linear-gradient(rgb(74, 120, 100), rgb(121, 154, 125), rgb(255, 255, 255))
    }
}

.mittendiv {
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mitten-div-vänster {
    animation: rotate 3s ease-in-out forwards infinite;
    transform-origin: left;
}

.mitten-div-mitten {
    animation: rotate 3s ease-in-out forwards infinite;
    transform-origin: center;
}

.mitten-div-höger {
    animation: rotate 3s ease-in-out forwards infinite;
    transform-origin: right;
}

@keyframes rotate {
    0% {
        background: rgb(13, 115, 98);
    }

    25% {
        background: #6e6e6e;
        border-radius: 25%;
    }

    50% {
        background: rgb(13, 115, 98);
        border-radius: 50%;
    }

    75% {
        background: #6e6e6e;
        border-radius: 25%;
    }

    100% {
        background: rgb(13, 115, 98);
        transform: rotate(360deg);
    }
}

.bottendiv {
    width: 50vw;
    height: 20vh;
    display: flex;
    margin-bottom: 50px;
}

.cirkel {
    margin: auto;
    border-radius: 50%;
}

.cirkel:nth-child(1) {
    animation: slide-left 5s ease-in-out forwards infinite;
}

@keyframes slide-left {
    0% {
        background: rgb(13, 115, 98);
        transform: translateX(0px);
    }

    25% {
        background: #0f3924;
        transform: translateX(-50px);
    }

    50% {
        background: rgb(13, 115, 98);
        transform: translateX(0px);
        border-radius: 0%;
    }

    75% {
        background: #55d5a6;
        transform: translateX(-50px);
    }

    100% {
        background: rgb(13, 115, 98);
        transform: translateX(0px);
    }
}

.cirkel:nth-child(2) {
    animation: slide-vertical 5s ease-in-out forwards infinite;
}

@keyframes slide-vertical {
    0% {
        background: rgb(13, 115, 98);
        transform: translateY(0px);
    }

    25% {
        width: 100px;
        height: 100px;
        background: rgb(13, 115, 98);
        transform: translateY(50px);
    }

    50% {
        width: 50px;
        height: 50px;
        background: rgb(13, 115, 98);
        transform: translateY(0px);
        border-radius: 0%;
    }

    75% {
        width: 100px;
        height: 100px;
        background: #f7f7f7;
        transform: translateY(-50px);
    }

    100% {
        background: rgb(13, 115, 98);
        transform: translateX(0px);
    }
}

.cirkel:nth-child(3) {
    animation: slide-right 5s ease-in-out forwards infinite;
}

@keyframes slide-right {
    0% {
        background: rgb(13, 115, 98);
        transform: translateX(0px);
    }

    25% {
        background: #f7f7f7;
        transform: translateX(50px);
    }

    50% {
        background: rgb(13, 115, 98);
        transform: translateX(0px);
        border-radius: 0%;
    }

    75% {
        background: rgb(13, 115, 98);
        transform: translateX(50px);
    }

    100% {
        background: rgb(117, 226, 201);
        transform: translateX(0px);
    }
}