body {
    font-family: 'Josefin Sans';
    text-align: center;
    letter-spacing: 0.3px;
}

header {
    font-size: 2rem;
    height: 180px;
    padding-top: 20px;
    color: aliceblue;
    background-image: url(/Images/moment2/H1bc.jpg);
    background-size: cover;
    border-radius: 5px;
}

.h2 {
    margin: 0 auto;
    font-size: 1.3rem;
}

.container {
    display: inline-flex;
    margin: 0 auto;
    margin: 30px;
    -webkit-filter: opacity(85%);
    filter: opacity(85%);   
}

.container:hover {
    box-shadow: 2px 2px 2px 2px #92a2a8;
    transition: 0.3s;
    filter: opacity(100%);
}

.questions {
    width: 500px;
    padding: 30px 20px 30px 30px;
    text-align: left;
}

.questions h3 {
    font-size: 1.2rem;
}

.questions p {
    padding-left: 20px;
    font-size: 1.2rem;
}

.pictures {
    display: flex;
    align-items: center;
}

.pictures img {
    width: 300px;
    height: 200px;
    margin: 20px 21px 15px 0;
}

.pictures img:hover {
    transform: scale(1.05, 1.05);
}

footer {
    padding-right: 30px;
    text-align: right;
    font-size: 15px;
    font-weight: lighter;
    background-color: black;
    color: rgb(233, 228, 220);
}

footer a {
    color: rgb(145, 144, 141);
    text-decoration: none;
}

footer a:hover {
    color: darkseagreen;
}

#copyleft {
    display: inline-block;
    transform: rotate(180deg);
    font-size: 1.5rem;
}